@import '../variables.css';

.title {
  font-size: 36px;
  font-weight: bold;
  margin:25px;
}

.description {
  margin: 25px;
}

.technologies {
  margin: 25px;
}

.source {
  margin: 25px;
}

.demo-container {
  position: relative;
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: var(--max-content-width);
  color: #555555;
}

.demo-canvas {
  border: 5px solid #5aa02c;
}

.canvas-container-sky {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+63,12335b+100 */
  background: #000000; /* Old browsers */
  background: -moz-linear-gradient(top,  #000000 63%, #12335b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(63%,#000000), color-stop(100%,#12335b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #000000 63%,#12335b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #000000 63%,#12335b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #000000 63%,#12335b 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #000000 63%,#12335b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#12335b',GradientType=0 ); /* IE6-9 */
}

.canvas-container {
  margin: 25px;
}

.back {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.back:hover {
  text-decoration: none;
  color: #000;
}

.back * {
  cursor: pointer;
}

.controls {
  margin: 25px;
}

@media screen and (max-width: 768px) {
  .canvas-container {
    margin: 25px 0px;
  }

  .demo-canvas {
    border-left: none;
    border-top: 5px solid #5aa02c;
    border-right: none;
    border-bottom: 5px solid #5aa02c;
  }
}
