@import '../variables.css';

.title {
  font-size: 36px;
  font-weight: bold;
  margin:25px;
}

.description {
  margin: 25px;
}

.technologies {
  margin: 25px;
}

.source {
  margin: 25px;
}

.demo-container {
  position: relative;
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: var(--max-content-width);
  color: #555555;
}

.demo-canvas {
  border: 5px solid #5aa02c;
}

.canvas-container {
  margin: 25px;
}

.back {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-weight: bold;
}