@import '../variables.css';

.title {
  font-size: 36px;
  font-weight: bold;
}

.description {
  margin: 15px 0px;
}

.technologies {
  margin: 15px 0px;
}

.source {
  margin: 15px 0px;
}

.demo-container {
  position: relative;
  padding: 25px;
  margin: 25px auto;
  max-width: var(--max-content-width);
  color: #555555;
  border-top-right-radius: 1em;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f29c41+0,ffa544+25,cc8137+100&amp;1+0,0+59 */
  background: -moz-linear-gradient(top,  rgba(242,156,65,1) 0%, rgba(255,165,68,0.58) 25%, rgba(232,149,62,0) 59%, rgba(204,129,55,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,156,65,1)), color-stop(25%,rgba(255,165,68,0.58)), color-stop(59%,rgba(232,149,62,0)), color-stop(100%,rgba(204,129,55,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(242,156,65,1) 0%,rgba(255,165,68,0.58) 25%,rgba(232,149,62,0) 59%,rgba(204,129,55,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(242,156,65,1) 0%,rgba(255,165,68,0.58) 25%,rgba(232,149,62,0) 59%,rgba(204,129,55,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(242,156,65,1) 0%,rgba(255,165,68,0.58) 25%,rgba(232,149,62,0) 59%,rgba(204,129,55,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(242,156,65,1) 0%,rgba(255,165,68,0.58) 25%,rgba(232,149,62,0) 59%,rgba(204,129,55,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f29c41', endColorstr='#00cc8137',GradientType=0 ); /* IE6-9 */

}

.demo-canvas {
  border: 5px solid rgba(242,156,65,1);
}

.canvas-container-sky {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#020711+0,041626+55,123669+94,123669+100 */
  background: rgb(2,7,17); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(2,7,17,1) 0%, rgba(4,22,38,1) 55%, rgba(18,54,105,1) 94%, rgba(18,54,105,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(2,7,17,1)), color-stop(55%,rgba(4,22,38,1)), color-stop(94%,rgba(18,54,105,1)), color-stop(100%,rgba(18,54,105,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(2,7,17,1) 0%,rgba(4,22,38,1) 55%,rgba(18,54,105,1) 94%,rgba(18,54,105,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(2,7,17,1) 0%,rgba(4,22,38,1) 55%,rgba(18,54,105,1) 94%,rgba(18,54,105,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(2,7,17,1) 0%,rgba(4,22,38,1) 55%,rgba(18,54,105,1) 94%,rgba(18,54,105,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(2,7,17,1) 0%,rgba(4,22,38,1) 55%,rgba(18,54,105,1) 94%,rgba(18,54,105,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020711', endColorstr='#123669',GradientType=0 ); /* IE6-9 */

  border: 5px solid rgba(242,156,65,1);
}

.canvas-container {
  margin: 25px;
}

.back {
  position: absolute;
  right: 35px;
  top: 35px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.back:hover {
  text-decoration: none;
  color: #000;
}

.back * {
  cursor: pointer;
}

.controls {
  margin: 25px;
}

@media screen and (max-width: 768px) {
  .canvas-container {
    margin: 25px 0px;
  }

  .demo-canvas {
    border-left: none;
    border-top: 5px solid #5aa02c;
    border-right: none;
    border-bottom: 5px solid #5aa02c;
  }
}
